@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AppleSDGothicNeoL';
  src: url('/fonts/AppleSDGothicNeoL.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('/fonts/AppleSDGothicNeoB.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  text-decoration: none;
  background-color: #f7f2f2;
  font-family: 'AppleSDGothicNeoL', sans-serif;
  overflow-x: hidden;
}

/* 전체 스크롤바 */
::-webkit-scrollbar {
  width: 5px;
}

/* 스크롤바의 핸들 */
::-webkit-scrollbar-thumb {
  background: #95b391;
  border-radius: 10px;
}

/* 핸들에 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
